<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search the Source Code</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Crawl and search the source code of a website for a particular code snippet."
    />
    <meta name="author" content="Jamie Evawin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="preconnect"
      href="https://search-the-source-code.herokuapp.com/"
    />

    <!-- PRELOAD FILES -->
    {% include "_partials/preload-styles.njk" %}

    <!-- STYLESHEET -->
    {% include "_partials/styles.njk" %}

    <!-- JAVASCRIPT -->
    {% include "_partials/scripts.njk" %}
  </head>

  <body>
    <main class="relative container mx-auto px-4" id="main">
      <div class="mb-6 text-center">
        <h1 class="text-3xl my-4">Search the <span aria-hidden="true">&lt;</span>Source Code<span aria-hidden="true">/&gt;</span></h1>
        <p>
          Crawl and search the source code of a website for a particular code
          snippet.
        </p>
        <p class="text-red-500 my-4">
          Alpha release. Expect bugs.
          <a
            class="pb-1 border-b-2 border-red-500"
            href="https://github.com/jamiegoodwin/searchthesourcecode"
            target="_blank"
            >It's on GitHub.</a
          >
        </p>
      </div>

      <form name="search" class="text-left mb-6 max-w-2xl mx-auto" data-component="form" novalidate>
        <div class="relative mb-6">
          <label for="domain" class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Domain to search</label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-mono"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
            type="url"
            name="domain"
            placeholder="e.g. jamie.evawin.uk"
            id="domain"
            value="jamie.evawin.uk"
          />

          <small class="absolute text-red-500 top-0 right-0" id="domainDescribe" aria-hidden="true" hidden>Please a valid domain</small>
        </div>

        <div class="relative mb-6">
          <label for="query" class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Code to search for</label>
          <textarea
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-mono"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
            name="query"
            rows="10"
            id="query"
            placeholder="e.g.&#13;&#10;&#13;&#10;&lt;!doctype html&gt;&#13;&#10;&#13;&#10;or&#13;&#10;&#13;&#10;$(document).ready(function(){"
          >&lt;p&gt;</textarea>

          <small class="absolute text-red-500 top-0 right-0" id="queryDescribe" aria-hidden="true" hidden>Please enter the code you want to query</small>
        </div>

        <button
          class="inline-flex justify-center items-center w-full relative bg-green-600 shadow-sm rounded px-4 py-2 text-white mb-2 motion-safe:transition-all focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 hov:after:absolute hov:after:[inset-block-end:0] hov:after:[inset-inline-start:0] hov:after:[inline-size:100%] hov:after:[block-size:100%] hov:after:bg-green-700 hov:after:rounded hov:after:transition-transform hov:after:duration-200 hov:after:-z-10 hov:hover:after:translate-x-0.5 hov:hover:after:translate-y-0.5 sm:w-auto"
          id="submit"
          type="submit"
        >
          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24" pointer-events="none"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5Zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14Z"/></svg>
          Search
        </button>
      </form>

      <span data-results-count class="hidden"></span>

      <div data-results-table></div>
    </main>

    <footer class="text-center mt-6 mb-4 px-4">
      <p>
        Built with
        <span aria-hidden="true" class="text-red-500 motion-safe:animate-bounce inline-block">&hearts;</span>
        <span class="sr-only">love</span>
        by
        <a href="https://jamie.evawin.uk/" target="_blank">
          <img class="rounded-full shadow-sm inline h-5 w-auto" src="https://en.gravatar.com/userimage/191194893/aae9a83120d84bc54587915f6bee323a.jpg?size=80" height="40" width="40" role="presentation" />&nbsp;<span class="text-red-600 border-b-2 border-red-600">Jamie Evawin</span>
        </a>
        and
        <a href="https://allexclapperton.co.uk/" target="_blank">
          <img class="rounded-full shadow-sm inline h-5 w-auto" src="https://media-exp1.licdn.com/dms/image/C4D03AQGZnZ216DSXVw/profile-displayphoto-shrink_200_200/0/1605462306969?e=1653523200&v=beta&t=CiCyfwgA_cVZccKAZd6j5IfJcH7Hj5yZWqDKrIy4LO4" height="40" width="40" role="presentation" />&nbsp;<span class="text-red-600 border-b-2 border-red-600">Alex Clapperton</span>
        </a>        
      </p>
    </footer>
  </body>
</html>
